<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-6 alignc">
        <div class="btn btn-group">
            <a class="btn btn-default btn-lg" href="#/c9programs" ng-click="vm.MainNav('Shows')"><span class="bold larger-font">Shows</span></a>
            <a class="btn btn-success btn-lg" href="#/c9programs" ng-click="vm.MainNav('Series')"><span class="bold larger-font">Series</span></a>
            <a class="btn btn-warning btn-lg" href="#/c9feeds" ng-click="vm.MainNav('Recent')"><span class="bold larger-font">Recent</span></a>
        </div>
    </div>
    <div class="col-md-3">
        &nbsp;
    </div>
</div>