<div data-ng-controller="ProgramsController as vm">
    <div data-ng-include="'ng/C9App/views/TopBar.html'"></div>
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>        
        <div class="col-md-4 alignc" >
            <h2><span class="label label-primary" style="width: 100%">
                &nbsp;&nbsp;&nbsp;{{vm.L1Title}}&nbsp;&nbsp;&nbsp;
            </span></h2>
        </div>
        <div class="col-md-4">
            <div class="btn btn-group pull-right">
                <a class="btn btn-warning" href="#/c9programs"><i class="fa fa-chevron-left fa-lg"></i></a>
                <a class="btn btn-success" href="#/c9programs" ng-click="vm.L1Nav('Shows')" ng-if="vm.L1Title !== 'Shows'"><span class="bold">Shows</span></a>
                <a class="btn btn-primary" href="#/c9programs" ng-click="vm.L1Nav('Series')" ng-if="vm.L1Title !== 'Series'"><span class="bold">Series</span></a>
                <a class="btn btn-danger" href="#/c9feeds" ng-click="vm.L1Nav('Recent')" ng-if="vm.L1Title !== 'Recent'"><span class="bold">Recent</span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>        
        <div class="col-md-4 alignc" >
            <form class="form-inline" role="form">
                <div class="input-group">                    
                    <input type="text" class="form-control" ng-model="filterQuery">
                    <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                </div>
           </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" ng-repeat="d in vm.data | filter: {title : filterQuery}" style="padding:10px; text-align:center">
            <a href="#/c9feeds" ng-click="vm.L2Nav(d)"><img ng-src="{{d.imageUrl}}" title="{{d.title}}" /></a>
        </div>
    </div>
</div>