body {
    padding-top: 60px;
}

.alignc{
    text-align: center !important;
}

.alignj{
    text-align: justify !important;
}

footer {
padding-left: 15px;
padding-right: 15px;
text-align: center;
padding: 30px 0;
margin-top: 70px;
border-top: 1px solid #e5e5e5;
background-color: #f5f5f5;
}
.footer p {
margin-bottom: 0;
color: #777;
}
.footer-social-links {
margin: 10px 0;

}
.footer-social-links li:first-child {
padding-left: 0;
}
.footer-social-links li {
display: inline;
padding: 0 2px;
}
.footer-social-links li a{
    text-decoration: none !important;
}
#footer {
	margin-bottom: 20px;
}

#footer .links a {
	margin-right: 10px;
}